.btn {
    display: inline-block;
    width: 110px;
    line-height: 30px;
    text-align: center;
    background-color: $colorA;
    color: $colorG;
    border: none;
    // 鼠标形状
    cursor: pointer;
}

.btn-default {
    background-color: #B0B0B0;
    color: $colorG;
    border: 1px solid $colorF;
}

.btn-large {
    width: 202px;
    height: 50xp;
    line-height: 50px;
    font-size: 18px;
}

.btn-huge {
    width: 300px;
    height: 54px;
    line-height: 54px;
    font-size: 16px;

}

// 按钮的间距
.btn-group {
    .btn {
        margin-right: 20px;

        &:last-child {
            margin-right: 0;
        }
    }

}