.modal {
    @include position(fixed);
    // 加层级
    z-index: 10;

    // 动画效果
    transition: all .5s;

    .mask {
        @include position(fixed);
        background-color: $colorI;
        opacity: 0.5;
    }

    &.silde-enter-active {
        top: 0;
    }

    &.silde-leave-active {
        top: 100%
    }

    &.silde-enter {
        top: -100%
    }

    .modal-dialog {
        // 位移的方式居中
        @include position(absolute, 40%, 50%, 660px, auto);
        background-color: $colorG;
        transform: translate(-50%, -50%);

        .modal-header {
            height: 60px;
            background-color: $colorJ;
            color: $colorB;
            padding: 0 25px;
            line-height: 60px;
            font-size: $fontI;

            .icon-close {
                @include positionImg(absolute, 23px, 25px, 14px, 14px, '/imgs/icon-close.png');
                // 图标方大效果
                transition: transform .5s;

                &:hover {
                    // 放大1.5倍
                    transform: scale(1.5);
                }
            }
        }

        .modal-body {
            padding: 42px 40px 54px;
            font-size: 14px;
        }

        // footer区
        .modal-footer {
            height: 82px;
            line-height: 82px;
            text-align: center;
            background-color: $colorJ;
        }
    }
}